@()(implicit r: Request[_])
<!DOCTYPE html>

<html>
<head>
    <title>F1 Telemetry Dashboard</title>
    <script type="text/javascript">
           var ws = new WebSocket("ws://localhost:9000/ws");

           ws.onopen = function(){};

           ws.onmessage = function (evt)
           {
              var received_msg = evt.data;
              document.getElementById("content").innerHTML = received_msg;
           };

           ws.onclose = function(){};

           window.onbeforeunload = function(event) {
              socket.close();
           };


    </script>
</head>
<body>
<div id="content"></div>
</body>
</html>